 body{
    margin: 0px;
    background-color: #ebe7e8 !important;
    font-family: 'Libre Franklin', sans-serif !important; 
 }
 .font-libre{
  font-family: 'Libre Franklin', sans-serif;
}
.font-Raleway{
  font-family: 'Raleway', sans-serif !important;
}
 .c-pointer{
   cursor: pointer;
 }
.footer-dark{
  background-color: #642c94 !important;
}

@media (max-width: 575.98px) {
  .d-xs-none {
    display: none !important;
  }
}
hr{
  background-color: #ebe7e8 !important;
  height: 0px !important;
   margin: 15px !important;
}
/*  */
.text-blue{
  color: #94d2ec !important;
}
.text-light{
  color: #ebe7e8 !important;
}
.text-purple{
  color: #642c94 !important;
}
.text-pink{
  color: #dd99b0 !important;
}
.bg-purple{
  background-color: #642c94 !important;
  color: #ffffff !important;
 }
 .bg-pink{
  background-color: #dd99b0 !important;
  color: #ffffff !important;
 }
.btn-purple{
  background-color: #642c94 !important;
  color: #ffffff !important;
  font-family: 'Raleway', sans-serif !important;
}
.btn-pink{
  background-color: #dd99b0 !important;
  color: #ffffff !important;
  font-family: 'Raleway', sans-serif !important;
}
.btn-outline-purple{
  /* background-color: #ebe7e8 !important; */
  color: #642c94 !important;
  border: #642c94 solid 2px !important;
 }
a{
  color: #787aff !important;
}
.card-img-top{
  height: auto !important;
  /* max-height: 150px !important;
  min-height: 150px !important; */
}
.product-card-img-container{
  /* max-height: 150px !important;
  min-height: 150px !important; */
}
.add-to-cart-container{
  display: flex !important;
  visibility: hidden;

}
.card:hover .add-to-cart-container{
  display: flex !important;
  visibility:visible;
}
.add-wishlist, .add-cart{
  width: 100%;
}